# Python cache directories
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/lab
# Environment files
**/.env
.env
.venv
median_imputer.joblib
mice_imputer.joblib
missing_values.json
class_distribution.png
trained_models
db.sqlite3

debug.log

# Django Migrations
**/migrations
**/trash
